.video_page_wrapper{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
    align-items: center;
}

.video_desc_wrapper{
    background-color: rgba(0, 52, 102, 0.9);
    width: 25%;
    color: #F8F8F8;
    border-radius: 5px;
    height: 95%;
    font-size: 1.35em;
}

.video_desc{
    width: 85%;
    height: 85%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video_desc_link_container{
    display: flex;
    width: 25%;
    gap: 0.5em;
    justify-content: flex-start;
}

.video_placeholder{
    width: 60%;
    height: 97%;
    /* height: 95%; */
}

@media (max-width : 850px){
    .video_page_wrapper{
        height:max-content;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
    }
    .video_desc_wrapper{
        width: 90%;
        margin: 0 auto;
        height: 450px;
    }

    .video_placeholder{
        width: 90%;
        margin: 0 auto;
        aspect-ratio: 16/9;
    }
}