.video_page_wrapper{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

.video_desc_wrapper{
    background-color: rgba(0, 52, 102, 0.9);
    width: 25%;
    color: #F8F8F8;
    border-radius: 5px;
    height: 95%;
    margin-top: 1.5em;
    font-size: 20px;
}

.video_desc{
    width: 85%;
    height: 85%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video_desc_link_container{
    display: flex;
    width: 25%;
    gap: 0.5em;
    justify-content: space-evenly;
}

.video_placeholder{
    width: 60%;
}