.identity_card{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    gap: 40px;
}

.identity_card_img_wrapper{
    width: 40%;
    position: relative;
    margin: 0 auto;
}


@media (max-width : 850px){
    .identity_card{
        flex-direction: column;
        gap: 0px;
        /* justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start; */
    }
    .identity_card_img_wrapper{
        width: 80%;
        height: 50%;
    }
}