@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: linear-gradient(to right, #d2ddef, #ecd7de);
}