body{
    margin: 0;
    background-image: linear-gradient(to right, #d2ddef, #ecd7de);
    font-family: var(--font-noto-sans);
    font-weight: 400;
}

*::-webkit-scrollbar {
    width: 12px;
  }

 *::-webkit-scrollbar-track {
    background: transparent;
  }

 *::-webkit-scrollbar-thumb {
    background-color: #003466;
    /* background-color: aqua; */
    border-radius: 8px;
    border: 2px solid #DEDAE7;
  }