@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400&display=swap');

.wrapper{
    min-height: 650px;
    height: fit-content;
}

.whatsappChat{
    position: fixed;
    bottom : 20px;
    right : 20px;
    z-index: 9999;
  }

.body{
    font-family: 'Source Sans 3', sans-serif;
    /* font-family: 'Public Sans', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
}