.image_page_wrapper{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

.image_page_wrapper_alt{
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

.image_desc_wrapper{
    background-color: rgba(0, 52, 102, 0.9);
    width: 25%;
    color: #F8F8F8;
    border-radius: 5px;
    height: 95%;
    margin-top: 1.5em;
    font-size: 1.35em;
}

.image_desc{
    width: 85%;
    height: 85%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image_desc_link_container{
    display: flex;
    width: 25%;
    gap: 0.5em;
    justify-content: flex-start;
}


.gallery_image_slider{
    width: 60%;
    display: flex;
    overflow-x: auto;
}

 .gallery_image_slider::-webkit-scrollbar {
    width: 12px;
  }

 .gallery_image_slider::-webkit-scrollbar-track {
    background: transparent;
  }

 .gallery_image_slider::-webkit-scrollbar-thumb {
    background-color: #003466;
    border-radius: 8px;
    border: 3px solid #DEDAE7;
  }

  .image_content h3{
    font-size: 20px;
  }

  .image_content p{
    font-size: 17px;
  }

.img_x{
    height: 90%;
    width: auto;
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
}


@media (max-width : 1100px){
    .image_page_wrapper{
        min-height: 1000px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }
    .image_desc_wrapper{
        width: 90%;
        margin: 0 auto;
        height: 450px;
    }
    
    .gallery_image_slider{
        width: 90%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: scroll;
        flex-direction: column;
    }
    .img_x{
        height: auto;
        margin-top: 0;
        margin-left: 0.25em;
        margin-right: 0.25em;
        margin-bottom: 1em;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img_y{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}