.image_page_wrapper{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

.image_desc_wrapper{
    background-color: rgba(0, 52, 102, 0.9);
    width: 25%;
    color: #F8F8F8;
    border-radius: 5px;
    height: 95%;
    margin-top: 1.5em;
}

.image_desc{
    width: 85%;
    height: 85%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image_desc_link_container{
    display: flex;
    /* background-color: chocolate; */
    width: 25%;
    gap: 0.5em;
    justify-content: space-evenly;
}


.gallery_image_slider{
    width: 60%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #003466 #ffffff;
}

 .gallery_image_slider::-webkit-scrollbar {
    width: 10px;
  }

 .gallery_image_slider::-webkit-scrollbar-track {
    background: transparent;
  }

 .gallery_image_slider::-webkit-scrollbar-thumb {
    background-color: #003466;
    border-radius: 8px;
    border: 3px solid #ffffff;
  }

.img_x{
    height: 90%;
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: chocolate;
}

.img_x img{
    height: 100%;
}

@media (max-width : 850px){
    .image_page_wrapper{
        height: 900px;
        flex-direction: column;
        /* background-color: aqua; */
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .image_desc_wrapper{
        background-color: rgba(0, 52, 102, 0.9);
        width: 93%;
        margin: 0 auto;
    }
    
    .image_desc{
        width: 85%;
    }
    
    /* .image_desc_link_container{
        display: flex;
        width: 25%;
        gap: 0.5em;
        justify-content: space-evenly;
    } */
    
    
    .gallery_image_slider{
        height: auto;
        width: 95%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        flex-direction: column;
        /* background-color: aqua; */
    }
    .img_x{
        /* width: 100%; */
        height: auto;
        margin-top: 1em;
        margin-left: 0.25em;
        margin-right: 0.25em;
        background-color: chocolate;
    }
    .img_y{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}