.category_card_wrapper{
    width: 85%;
    margin: 0.25em auto;
    /* padding: 1.5em; */
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}


.category_card{
    width: 100%;
    display: block;
    position: relative;
}

.category_card_img{
    width: 100%;
    height: auto;
    /* border-radius: 5px; */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FBFCF9;
    /* border-radius: 5px; */
}

.fade{
    /* background-color: blueviolet; */
    width: 100%;
    height: 100%;
}

.overlay p{
    width: 50%;
}

.alternate_even{
    border-image: fill 0 linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
}

.alternate_odd{
    border-image: fill 0 linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
}

.det_gradient{
    /* background-color: chocolate; */
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.det_gradient p{
    text-align: center;
}

.category_logo_container{
    width: 70%;
    height: auto;
    /* background-color: brown; */
}

.category_card_desc{
    width: 60%;
    background-color: brown;
}

.alternate_det_gradient_even{
    margin-left: 65%;
}
.alternate_det_gradient_odd{
    margin-right: 65%;
}

.category_card_logo_img_container{
    background-color: brown;

}

.category_card_desc{
    background-color: brown;
    width: 100%;
}

@media (max-width : 1200px){
    .overlay{
        font-size: 13px;
    }
    .overlay p{
        width: 90%;
    }
    .services_map{
        display: none;
    }
    .category_logo_container{
        width: 100%;
        height: auto;
        /* background-color: brown; */
    }
}

@media (max-width : 850px){
    .category_card_wrapper{
        width: 100%;
        /* padding: 0.1em; */
    }
}