.category_card_wrapper{
    width: 85%;
    margin: 0.25em auto;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    font-weight: 600;
    font-style: normal;
}

.card_desc{
    font-family: var(--font-cormorant-garamond);
    font-size: 18px;
}

.services_map{
    /* font-family: "Roboto", sans-serif; */
    font-weight: 400;
}


.category_card{
    width: 100%;
    display: block;
    position: relative;
}

.category_card_img{
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FBFCF9;
}

.fade{
    width: 100%;
    height: 100%;
}

.overlay p{
    width: 50%;
}

.alternate_even{
    border-image: fill 0 linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
}

.alternate_odd{
    border-image: fill 0 linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
}

.det_gradient{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.det_gradient p{
    text-align: center;
}

.category_logo_container{
    width: 70%;
    height: auto;
}

.alternate_det_gradient_even{
    margin-left: 65%;
}
.alternate_det_gradient_odd{
    margin-right: 65%;
}


@media (max-width : 1200px){
    .category_card_wrapper{
        width: 100%;
    }
    .overlay{
        font-size: 12px;
    }
    .overlay p{
        width: 90%;
    }
    .category_logo_container{
        width: 100%;
        height: auto;
    }
}

@media (max-width : 850px){
    .category_card_wrapper{
        display: none;
    }
}