.category_card_wrapper{
    width: 85%;
    margin: 0.25em auto;
    /* padding: 1.5em; */
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}


.category_card{
    width: 100%;
    display: block;
    position: relative;
}

.category_card_img{
    width: 100%;
    height: auto;
    /* border-radius: 5px; */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
}

.alternate_even{
    border-image: fill 0 linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
}

.alternate_odd{
    border-image: fill 0 linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
}

.det_gradient{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 5px; */
}

.alternate_det_gradient_even{
    margin-left: 50%;
}
.alternate_det_gradient_odd{
    margin-right: 50%;
}

@media (max-width : 850px){
    .category_card_wrapper{
        width: 100%;
        /* padding: 0.1em; */
    }
}